.title_section {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  position: fixed;
  top: 4%;
  left: 0;
  right: 10%;
  height: 10%;
  background-color: #436144;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform 1.8s ease-in-out;
  z-index: 1000;
  transform: translateX(0);
}

.navbar:not(:hover):not(.force-open) {
  transform: translateX(calc(-100% + 5vw));
}

/* Ausgeklappt: volle Höhe */
.navbar:force-open {
  transform: translateX(0) !important;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  transition: background-color 0.3s ease-in-out;
}
.navbar a:hover {
  background-color: #1d1f1d;
}

/* Pfeil-Stil (wird auf dem sichtbaren 5vw-Rest platziert) */
.navbar::after {
  content: "››"; /* oder "→", "►", ">" */
  position: absolute;
  right: 2%; /* Am rechten Rand des sichtbaren 5vw-Teils */
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
  pointer-events: none; /* Wichtig, damit Hover funktioniert */
}

/* Pfeil nur anzeigen, wenn Navbar eingeklappt ist */
.navbar:not(:hover):not(.force-open)::after {
  opacity: 0.8;
}

.arrow-transition {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.3s;
}

.arrow-transition::before {
  content: "‹‹"; /* Dynamic arrow */
  color: white;
  font-size: 1.5em;
}

.navbar.is-closing .arrow-transition {
  opacity: 0.8;
}

.main_text {
  margin-left: 7%;
  padding-right: 5%;
}

body {
  background-color: #f0f0f0;
  padding-top: 15%; /* 15% of viewport height */
  margin: 0; /* Remove default body margin */
}

/* Für alle Browser */
html {
  scroll-padding-top: 15%; /* Höhe deines Headers */
}

/* Für Safari */
@supports (scroll-padding-top: 15%) {
  html {
    scroll-padding-top: 15%;
  }
}